@{
    ViewBag.Title = "To Do";
}


<style>
    * {
        font-size: 110%;
    }

    ul#list {
        max-width: 300px;
        margin-top: 1em;
        padding-left: 0;
        position: relative;
    }

    ul#list li:nth-child(odd) {
        background: #fcc;
    }

    li {
        border: 1px solid white;
        list-style: none;
        padding-left: 2em;
    }

    li.checked {
        text-decoration: line-through;
        background: #ccc;
    }

    li.checked:before {
        position: absolute;
        content: '\2714';
        left: .5em;
    }

    input#addItem {
        margin: 0em;
        line-height: 1em;
    }

    button {
        line-height: 1em;
        position: absolute;
        right: 0;
    }

    li button.remove {   
        display: none;

    }

    li.checked button.remove { 
        display: inline; 

    }
</style>


<ul id="list">  
    <li id="input">
        <input id="addItem" />
        <button id="add">+</button>
    </li>
</ul>


@section scripts {
    <script>
        function add() {
            const text = $('#addItem').val();
            if (!text) return;

            const $remove = $('<button class="remove">')
                .text("–");

            const $item = $('<li>')
                .text($('#addItem').val())
                .click(() => $item.toggleClass("checked"))
                .append($remove)
                .insertBefore($("li#input"))

            $remove.click(() => $item.remove());
            $("#addItem").val("");
        }

        $('#addItem').change(add);
        $('#add').click(add);

    </script>
}
